#agapp {
  /* background: url(construction-site.png); */
  background-color: rgba(51, 170, 51, .1);
}

.service-img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

#dumpster-image {
  width: 100%;
}

#debris-image {
  height: 400px;
  width: 600px;
}

#storage-image, #equipment-image {
  width: 400px;
}

#recycling-image {
  width: 400px;
}

.background-services h2 {
  padding: 10px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.services {
  margin-top: 75px;
}

.gray {
  background-color: #D3D3D3;
  color: #191919;
}

#main-image {
  opacity: 0.9;
  min-height: 100px;
  min-width: 100px;
  width: 100%;
  height: 100%;
  margin: 0 auto !important;
}

#main-image-div {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.v-toolbar {
  margin: 0;
}

#select-services:hover {
  cursor: pointer;
  background: #D3D3D3;
}

.service-headers {
  text-align: center;
  background: blue;
  color: white;
  font-size: 20px;
}

.background-services img {
  opacity: .2;
  width: 100%;
  position: absolute;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 20px;
}

.btn {
  background-color: #0000FF !important;
}

.contact-btn {
  text-decoration: none !important;
  color: #00FFFF !important;
}
