#app {
  /* background: url(construction-site.png); */
  background-color: rgba(51, 170, 51, .1);
}

.service-img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}


.services {
  margin-left: 100px;
  margin-top: 75px;
}

#main-image {
  opacity: 0.9;
  min-height: 100px;
  min-width: 100px;
  width: 100%;
  height: 100%;
  margin: 0 auto !important;
}

#main-image-div {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.v-toolbar {
  margin: 0;
}

#select-services:hover {
  cursor: pointer;
  background: #D3D3D3;
}

.service-headers {
  text-align: center;
  background: blue;
  color: white;
  font-size: 20px;
}

.background-services img {
  opacity: .2;
  width: 100%;
  position: absolute;
}
